<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EYE</title>
  <link rel="shortcut icon" href="/img/eyefav.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header>

    <nav>

      <div class="container">

        <img src="/img/eye.png" alt="">

        <h2>Talk to strangers</h2>

        <div>5000+ online now</div>

      </div>

    </nav>

  </header>

  <main>

   

  </main>

</body>

</html>